html, body {
    height: 100%;
}

body {
    color: #6c6f73;
}

nav.bg-faded {
    background-color: rgba(255, 255, 255, 0.7);
}

.navbar-brand {
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

h6 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

img {
    max-width: 100%;
}

.blockquote {
    font-size: 1.6rem;
    color: #333;
    border-left-color: #f0ad4e;
}
.blockquote-footer {
    margin: 1rem 0 0;
}

#stage {
    background: url('../img/pics/website-design-2.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#stage-caption {
    font-size: 1.4rem;
    font-weight: 200;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
}

#stage-caption h1 {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}


#logo {
    width: 60px;
    height: auto;
}

section {
    min-height: 100%;
    display: flex;
    align-items: center;
    padding: 2rem 0;
}

#feature-one {
    overflow: hidden;
}

.feature-content {
align-items: center;
justify-content: center;

}

.feature-dark {
    background: #262f36;
    color: white;
}

.feature-dark h2, .feature-dark h6 {
    color: white;
    text-align: left;
}

#feature-two .container, #feature-four .container, #feature-five .container {
align-self: flex-end;
}
/*#feature-two, #feature-four, #feature-five {
padding-bottom: 0;
}*/

.feature-image {
min-width: 50%;
max-height: 100%;

}

.feature-alt {
    background: #d3d3d3;
}

#feature-four .feature-content {
    padding: 0;
}

#feature-five img {
    margin-top: 1rem;
}

#main-footer {
    background: #262F36;
    color: white;
    padding: 3rem 0;
    font-size: 0.8rem;
}

#main-footer h6 {
    color: #718FA9;
}

#main-footer a {
    color: #6C6F73;
}

#main-footer a:hover {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
    section {
        padding: 2rem;
    }

    #feature-two .container, #feature-four .container, #feature-five .container {
align-self: center;
}
#feature-five .container, #feature-seven .container {
    width: 100% !important;
}
   #main-footer .first-block {
order: 4;
}
  #main-footer .second-block {
order: 1;
}
  #main-footer .third-block {
order: 2;
}
  #main-footer .fourth-block {
order: 3;
}

}